{% extends "base.html" %}

{% block content %}
<h1>404</h1>
<p>Something went very wrong</p>
<p>Dont be sad, here a picture for you:</p>
<pre>
             _                 _, ,_                 _
         \\`'. .-'``'-. .'`// \\`'. .-'``'-. .'`//
          ;   `        `   ;   ;   '        '   ;
          /                |   |                \
        /;,      _     _    \ /    _     _      ,;\
       |;;'     (()__ (()    |    ()) __())     ';;|
       \  -.__     \_/ __.-  \  -.__ \_/     __.-  /
        `, .-'/ ;'  7 \'-. ,' `, .-'/ 7  '; \'-. .'
          `-,'         `,-'     `-.'         `.-'
              |`''--''`|           |`' --''`|
            ,'       ';;          ,;;'       '.
         , '           ;;       ,;'            `.
       ,;,               \     /                ,;,
     ,;;;'`              ,;   /                `';;;,
   ,'                  ,;;;\;';;.                    \
  /            \   |      ';|;'      |   /            ;
 /             |   |  |     |     |  |   |             \
.;;            |   |  |     |     |  |   |            ;;.
,;'             |;, |  |     ;     |  | ,;|             ';,
/|               |;' |  |     |     |  | ';|               |\
'  '.             |   |  |     ;\    |  |   |             .'  '
| ,;;`-._        .'   |   '.   / '-.'   |   `.        _.-';;, |
\;;'    `'-.--'(_,   ,) , ,)-`   (, , (,   ,_)`--.-'`    `';/
`-._       _,-' '-`-'`-'-'       '-`-'`-'-' `-,_       mx-'
   ``~~~~`                                     `~~~~``
</pre>
{% endblock %}