{% extends "index.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" id="username_line">
            <h1><i class="fa fa-user" aria-hidden="true"></i>{{ user.username }}</h1>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <h5>Posts</h5>
                    <p>{{ user.posts.count() }}</p>
                </div>
                <div class="col-md-4">
                    <h5>Followers</h5>
                    <p>{{ user.followers().count() }}</p>
                </div>
                <div class="col-md-4">
                    <h5>Following</h5>
                    <p>{{ user.following().count() }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            {% if current_user.is_authenticated %}
                {% if user != current_user %}
                    {% if not user in current_user.following() %}
                        <a href="{{ url_for('follow', username=user.username) }}" class="btn btn-success follow-unfollow">Follow</a>
                    {% else %}
                        <a href="{{ url_for('unfollow', username=user.username) }}" class="btn btn-danger follow-unfollow">Unfollow</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{{ super() }}
{% endblock %}